/*================================================================ VARIABLE
*/
/*
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/
/*================================================================ GLOBAL
*/
body {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.overlay {
  background-image: url("../images/overlay.png");
  background-attachment: fixed;
  z-index: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.content-block {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  margin: 18px 0;
  padding: 24px;
  overflow-x: hidden;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  color: #fff;
}

.dark-text {
  color: #000;
}

/*================================================================ HEADER
*/
#header img {
  width: 100%;
  margin-bottom: 18px;
}

@media (min-width: 992px) {
  #header img {
    margin-bottom: 0;
  }
}

#header .role button {
  margin-left: 18px;
}

#topContacts, #footerContacts {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

#topContacts li, #footerContacts li {
  list-style: none;
  margin-right: 6px;
}

#topContacts li .orange-text, #footerContacts li .orange-text {
  text-transform: uppercase;
}

#topContacts li .orange-text:after, #footerContacts li .orange-text:after {
  content: '';
  margin-right: 6px;
}

/*================================================================ WORK
*/
.location-text {
  float: right;
  color: #adadad;
}

.work-title {
  display: block;
  border-top: 1px solid #eee;
  padding-top: 18px;
}

.work-title:first-child {
  padding-top: 0;
  border-top: 0;
}

/*================================================================ PROJECT
*/
@media (max-width: 767px) {
  .project-entry img {
    margin-bottom: 18px;
  }
}

.project-title {
  clear: both;
  display: block;
  font-size: 22px;
  padding-top: 18px;
}

.project-title:first-child {
  padding-top: 0;
}

/*================================================================ EDUCATION
*/
.education-title {
  display: block;
  padding-top: 18px;
}

.education-title:first-child {
  padding-top: 0;
}

/*================================================================ MAP
*/
#map {
  display: block;
  height: 400px;
}

/*================================================================ FOOTER CONTACT
*/
#lets-connect h2 {
  margin-bottom: 24px;
}

#footerContacts {
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
